In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
dataset = pd.read_csv("Ruter-data.csv",sep=';')
dataset.describe()

       Linjeretning  Kjøretøy_Kapasitet  Passasjerer_Ombord
count   6000.000000         6000.000000         6000.000000
mean       0.492000          104.712167            4.512833
std        0.499978           24.225196            6.735730
min        0.000000           33.000000          -39.000000
25%        0.000000           80.000000            0.000000
50%        0.000000          106.000000            3.000000
75%        1.000000          112.000000            7.000000
max        1.000000          151.000000           64.000000

In [3]:
dataset.head()

,TurId,Dato,Fylke,Område,Kommune,Holdeplass_Fra,Holdeplass_Til,Linjetype,Linjefylke,Linjenavn,Linjeretning,Tidspunkt_Faktisk_Ankomst_Holdeplass_Fra,Tidspunkt_Faktisk_Avgang_Holdeplass_Fra,Tidspunkt_Planlagt_Ankomst_Holdeplass_Fra,Tidspunkt_Planlagt_Avgang_Holdeplass_Fra,Kjøretøy_Kapasitet,Passasjerer_Ombord
0,15006-2020-08-10T10:24:00+02:00,10/08/2020,Viken,Vest,Bærum,Nordliveien,Tjernsmyr,Lokal,Viken,150,0,10:53:53,10:53:59,10:53:00,10:53:00,112,5
1,15002-2020-08-15T12:54:00+02:00,15/08/2020,Viken,Vest,Bærum,Nadderud stadion,Bekkestua bussterminal (Plattform C),Lokal,Viken,150,0,13:12:20,13:12:26,13:12:00,13:12:00,112,5
2,15004-2020-08-03T09:54:00+02:00,03/08/2020,Viken,Vest,Bærum,Ringstabekkveien,Skallum,Lokal,Viken,150,0,10:18:56,10:19:21,10:19:00,10:19:00,112,6
3,15003-2020-07-27T13:00:00+02:00,27/07/2020,Viken,Vest,Bærum,Gruvemyra,Gullhaug,Lokal,Viken,150,1,13:52:04,13:52:26,13:51:00,13:51:00,112,10
4,15002-2020-08-27T07:15:00+02:00,27/08/2020,Viken,Vest,Bærum,Lysaker stasjon (Plattform A),Tjernsmyr,Lokal,Viken,150,1,07:34:13,07:34:53,07:33:00,07:33:00,112,10

## is any null value

In [4]:
dataset.isna().any()

TurId                                        False
Dato                                         False
Fylke                                        False
Område                                       False
Kommune                                      False
Holdeplass_Fra                               False
Holdeplass_Til                               False
Linjetype                                    False
Linjefylke                                   False
Linjenavn                                    False
Linjeretning                                 False
Tidspunkt_Faktisk_Ankomst_Holdeplass_Fra     False
Tidspunkt_Faktisk_Avgang_Holdeplass_Fra      False
Tidspunkt_Planlagt_Ankomst_Holdeplass_Fra    False
Tidspunkt_Planlagt_Avgang_Holdeplass_Fra     False
Kjøretøy_Kapasitet                           False
Passasjerer_Ombord                           False
dtype: bool

In [5]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6000 entries, 0 to 5999
Data columns (total 17 columns):
 #   Column                                     Non-Null Count  Dtype
---  ------                                     --------------  -----
 0   TurId                                      6000 non-null   object
 1   Dato                                       6000 non-null   object
 2   Fylke                                      6000 non-null   object
 3   Område                                     6000 non-null   object
 4   Kommune                                    6000 non-null   object
 5   Holdeplass_Fra                             6000 non-null   object
 6   Holdeplass_Til                             6000 non-null   object
 7   Linjetype                                  6000 non-null   object
 8   Linjefylke                                 6000 non-null   object
 9   Linjenavn                                  6000 non-null   object
 10  Linjeretning                               6000 non-null   int64
 11  Tidspunkt_Faktisk_Ankomst_Holdeplass_Fra   6000 non-null   object
 12  Tidspunkt_Faktisk_Avgang_Holdeplass_Fra    6000 non-null   object
 13  Tidspunkt_Planlagt_Ankomst_Holdeplass_Fra  6000 non-null   object
 14  Tidspunkt_Planlagt_Avgang_Holdeplass_Fra   6000 non-null   object
 15  Kjøretøy_Kapasitet                         6000 non-null   int64
 16  Passasjerer_Ombord                         6000 non-null   int64
dtypes: int64(3), object(14)
memory usage: 797.0+ KB

In [6]:
dataset['Dato'] = pd.to_datetime(dataset['Dato'])

In [7]:
dataset['Year'] = dataset['Dato'].dt.year
dataset['Month'] = dataset['Dato'].dt.month
dataset['Day'] = dataset['Dato'].dt.day

## split the time

In [8]:
dataset['Tidspunkt_Faktisk_Ankomst_Holdeplass_Fra'] = dataset['Tidspunkt_Faktisk_Ankomst_Holdeplass_Fra'].astype(str)
dataset['Tidspunkt_Faktisk_Avgang_Holdeplass_Fra'] = dataset['Tidspunkt_Faktisk_Avgang_Holdeplass_Fra'].astype(str)
dataset['Tidspunkt_Planlagt_Ankomst_Holdeplass_Fra'] = dataset[ 'Tidspunkt_Planlagt_Ankomst_Holdeplass_Fra'].astype(str)
dataset['Tidspunkt_Planlagt_Avgang_Holdeplass_Fra'] = dataset['Tidspunkt_Planlagt_Avgang_Holdeplass_Fra'].astype(str)

In [9]:
dataset[['hours','minutes','seconds']] = dataset['Tidspunkt_Faktisk_Ankomst_Holdeplass_Fra'].str.split(':', expand=True)

#### run the cell 137  for columns 'Tidspunkt_Faktisk_Avgang_Holdeplass_Fra' ,'Tidspunkt_Planlagt_Ankomst_Holdeplass_Fra' and Tidspunkt_Planlagt_Avgang_Holdeplass_Fra to get the hour seconds and minutes for these columns

 drop some unnecessary columns

In [10]:
dataset.head()

,TurId,Dato,Fylke,Område,Kommune,Holdeplass_Fra,Holdeplass_Til,Linjetype,Linjefylke,Linjenavn,...,Tidspunkt_Planlagt_Ankomst_Holdeplass_Fra,Tidspunkt_Planlagt_Avgang_Holdeplass_Fra,Kjøretøy_Kapasitet,Passasjerer_Ombord,Year,Month,Day,hours,minutes,seconds
0,15006-2020-08-10T10:24:00+02:00,2020-10-08,Viken,Vest,Bærum,Nordliveien,Tjernsmyr,Lokal,Viken,150,...,10:53:00,10:53:00,112,5,2020,10,8,10,53,53
1,15002-2020-08-15T12:54:00+02:00,2020-08-15,Viken,Vest,Bærum,Nadderud stadion,Bekkestua bussterminal (Plattform C),Lokal,Viken,150,...,13:12:00,13:12:00,112,5,2020,8,15,13,12,20
2,15004-2020-08-03T09:54:00+02:00,2020-03-08,Viken,Vest,Bærum,Ringstabekkveien,Skallum,Lokal,Viken,150,...,10:19:00,10:19:00,112,6,2020,3,8,10,18,56
3,15003-2020-07-27T13:00:00+02:00,2020-07-27,Viken,Vest,Bærum,Gruvemyra,Gullhaug,Lokal,Viken,150,...,13:51:00,13:51:00,112,10,2020,7,27,13,52,04
4,15002-2020-08-27T07:15:00+02:00,2020-08-27,Viken,Vest,Bærum,Lysaker stasjon (Plattform A),Tjernsmyr,Lokal,Viken,150,...,07:33:00,07:33:00,112,10,2020,8,27,07,34,13

In [11]:
dataset['hours'] = dataset['hours'].apply(lambda x: 0 if x == '' else x)
dataset['minutes'] = dataset['minutes'].apply(lambda x: 0 if x == '' else x)
dataset['seconds'] = dataset['seconds'].apply(lambda x: 0 if x == '' else x)
dataset['seconds'] = dataset['seconds'].apply(lambda x: 0 if x == None else x)

In [12]:
dataset.drop([ 'TurId','Dato','Fylke', 'Område', 'Kommune', 'Holdeplass_Fra',
       'Holdeplass_Til', 'Linjetype', 'Linjefylke','Linjenavn',
       'Linjeretning','Tidspunkt_Faktisk_Ankomst_Holdeplass_Fra',
       'Tidspunkt_Faktisk_Avgang_Holdeplass_Fra',
       'Tidspunkt_Planlagt_Ankomst_Holdeplass_Fra',
       'Tidspunkt_Planlagt_Avgang_Holdeplass_Fra'], axis=1, inplace=True)

In [13]:
dataset.columns

Index(['Kjøretøy_Kapasitet', 'Passasjerer_Ombord', 'Year', 'Month', 'Day',
       'hours', 'minutes', 'seconds'],
      dtype='object')

In [14]:
dataset.head()

,Kjøretøy_Kapasitet,Passasjerer_Ombord,Year,Month,Day,hours,minutes,seconds
0,112,5,2020,10,8,10,53,53
1,112,5,2020,8,15,13,12,20
2,112,6,2020,3,8,10,18,56
3,112,10,2020,7,27,13,52,04
4,112,10,2020,8,27,07,34,13

## Identify independent and depende vriables

In [15]:
X= dataset.drop(['Passasjerer_Ombord'],axis=1)
y = dataset.Passasjerer_Ombord

In [16]:
X.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6000 entries, 0 to 5999
Data columns (total 7 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Kjøretøy_Kapasitet  6000 non-null   int64
 1   Year                6000 non-null   int64
 2   Month               6000 non-null   int64
 3   Day                 6000 non-null   int64
 4   hours               6000 non-null   object
 5   minutes             6000 non-null   object
 6   seconds             6000 non-null   object
dtypes: int64(4), object(3)
memory usage: 328.2+ KB

## Spliting the data into test and training set

In [17]:
from sklearn.model_selection import train_test_split
X_train,X_test, y_train, y_test =train_test_split(X,y, test_size=0.3, random_state=0)

Now using feature scaling

In [18]:
from sklearn.linear_model import LinearRegression
lreg = LinearRegression()
lreg.fit(X_train,y_train)

LinearRegression()

In [19]:
y_pred=lreg.predict(X_test)

In [20]:
from sklearn import metrics 
from sklearn.metrics import r2_score
print("MAE", metrics.mean_absolute_error(y_test, y_pred))
print("MSE", metrics.mean_squared_error(y_test, y_pred))
print("RMSE", np.sqrt(metrics.mean_squared_error(y_test, y_pred)))
r2_score(y_test,y_pred)

MAE 4.809918339595082
MSE 44.16652732789115
RMSE 6.645790195897788

0.022739459364191306